<section class="profile">
  <form action="/profile" method="POST" class="profile__form">
    <div class="profile__img">
      <img src="http://localhost:3000/d0b7380c554b78d0420eacfc37424cd5.jpg">
    </div>

    <div class="form__block">
      <input type="text" name="name" class="form__input-prof form__input " placeholder="Name">
    </div>

    <div class="form__block">
      <input type="text" name="sex" class="form__input-prof form__input" placeholder="Sex">
    </div>
    
    <div class="form__block">
      <input type="text" name="birth" class="form__input-prof form__input" placeholder="Date of Birth">
    </div>

    <button type="submit" class="profile__btn">Submit</button>
  </form>  
</section>


