
<header class="header">
    <div class="header__container">
        <div class="header__top">
            <div class="header__logo-icon">
                <img src="http://localhost:3000/Main-image.jpg">
            </div>
            <div class="header__logo">Your-Fit</div>
        </div>

        <div class="header__body">
            <div class="header__icon">
                <span></span>
            </div>
            <nav class="menu__body">
                <ul class="menu__list">
                    <li><a href="/calculators" class="menu__link">Body calculators</a></li>
                    <li><a href="/profile" class="menu__link">Profile</a></li>
                    <li><a href="/personal-office" class="menu__link">Personal-office</a></li>
                </ul>
            </nav>

            <div class="auth">
                <a href="/login" class="auth__link">Log-in</a>
                <a href="/sign-up" class="auth__link">Sign-up</a>
            </div>
        </div>
    </div>
</header>

<!-- 
<header>
    <nav>
        
       <div class="main-title"><img src="http://localhost:3000/Main-image.jpg"><a href="/" >Your-Fit</a></div> 
        <div class="nav-bar">
            <div class="nav">
            <a href="/calculators">Body calculators</a>
            <a href="/profile">Profile</a>
            <a href="/personal-office">Personal-office</a>
        </div>
            <div class="auth">
                <a href="/login">Login</a>
                <a href="/sign-up">Sign Up</a>
            </div>
   
 
    </div>
    </nav>
</header> -->