<section class="personal">
    <div class="personal__days">
        <form action="" class="personal__form">
            <div class="form__block-p form__block-pers">
                <input type="text" name="" class="form__input-pers form__input" placeholder="Monday">
                <div class="input__form-icon">
                    <span></span>
                </div>
            </div>
            <div class="form__block-p form__block-pers">
                <input type="text" name="tuesday" class="form__input-pers form__input" placeholder="Tuesday">
                <div class="input__form-icon">
                    <span></span>
                </div>
            </div>
            <div class="form__block-p form__block-pers">
                <input type="text" name="wednesday" class="form__input-pers form__input" placeholder="Wednesday">
                <div class="input__form-icon">
                    <span></span>
                </div>
            </div>
            <div class="form__block-p form__block-pers">
                <input type="text" name="thursday" class="form__input-pers form__input" placeholder="Thursday">
                <div class="input__form-icon">
                    <span></span>
                </div>
            </div>
            <div class="form__block-p form__block-pers">
                <input type="text" name="friday" class="form__input-pers form__input" placeholder="Friday">
                <div class="input__form-icon">
                    <span></span>
                </div>
            </div>
            <div class="form__block-p form__block-pers">
                <input type="text" name="saturday" class="form__input-pers form__input" placeholder="Saturday">
                <div class="input__form-icon">
                    <span></span>
                </div>
            </div>
            <div class="form__block-p form__block-pers">
                <input type="text" name="sunday" class="form__input-pers form__input" placeholder="Sunday">
                <div class="input__form-icon">
                    <span></span>
                </div>
            </div>

        </form>
    </div>
    <div class="personal__statistic">
        <form action="" class="stat__form">
            <div class="stat__block">
                <input type="text" name="weight" class="stat__input form__input" placeholder="Enter your weight">

            </div>
            <div class="stat__block">
                <input type="text" name="height" class="stat__input form__input" placeholder="Enter your height">
              
            </div>
            <div class="stat__block">
                <input type="text" name="dreamweight" class="stat__input form__input" placeholder="Your dream weight">
           
            </div>
            <div class="stat__block">
                <input type="text" name="belly" class="stat__input form__input" placeholder="Enter belly percentage">
                <button type="submit" class="stat__btn form__btn">Submit</button>
            </div>
        </form>
    </div>
</section>




 <!-- <div class="per-off">
<form class='week-data'>
    <label>Monday</label>
    <input type="text" name="title" >
    <input type="image" name="title" src="http://localhost:3000/plus-button-icon-15.jpg" class="image-input"><br>
    <label>Tuesday</label>
    <input type="text" name="title" >
    <input type="image" name="title" src="http://localhost:3000/plus-button-icon-15.jpg" class="image-input"><br>
    <label>Wednesday</label>
    <input type="text" name="title" >
    <input type="image" name="title" src="http://localhost:3000/plus-button-icon-15.jpg" class="image-input"><br>
    <label>Thusday</label>
    <input type="text" name="title" >
    <input type="image" name="title" src="http://localhost:3000/plus-button-icon-15.jpg" class="image-input"><br>
    <label>Friday</label>
    <input type="text" name="title" >
    <input type="image" name="title" src="http://localhost:3000/plus-button-icon-15.jpg" class="image-input"><br>
    <label>Saturday</label>
    <input type="text" name="title" >
    <input type="image" name="title" src="http://localhost:3000/plus-button-icon-15.jpg" class="image-input"><br>
    <label>Sunday</label>
    <input type="text" name="title" >
    <input type="image" name="title" src="http://localhost:3000/plus-button-icon-15.jpg" class="image-input"><br>
    

</form>
<form>
    <label>Your Weight</label>
    <input type="text" name="title" placeholder="Enter your weight">
    <button type="Submit" >Submit</button><br>
    <label>Your Height</label>
    <input type="text" name="title" placeholder="Enter your height">
    <button type="Submit" >Submit</button><br>
    <label>Your dream weight</label>
    <input type="text" name="title" placeholder="Your dream weight">
    <button type="Submit" >Submit</button><br>
    <label>Your belly percentage</label>
    <input type="text" name="title" placeholder="Enterbelly percentage">
    <button type="Submit" >Submit</button>

</form>
</div>  -->