<section class="calc__body">
    <div class="calc__navigation">
        <nav class="calc__menu">
            <ul class="calc__list">
                <li class="calc__link"><a href="/calculators/belly">Belly calculator</a></li>
                <li class="calc__link"><a href="/calculators/carbs">Carbs calculator</a></li>
                <li class="calc__link"><a href="/calculators/pfc">Pfc calculator</a></li>
                <li class="calc__link"><a href="/calculators/pulse">Pulse calculator</a></li>
                <li class="calc__link"><a href="/calculators/water">Water calculator</a></li>
            </ul>
        </nav>
    </div>
    <div class="calc__img">
        <img src="http://localhost:3000/istockphoto-586715640-170667a.jpg">
    </div>
</section>


<!-- <nav >
    <div class="calc-nav">
    <ul>
        <li><a href="/calculators/belly">Belly calculator</a></li>
        <li><a href="/calculators/carbs">Carbs calculator</a></li>
        <li><a href="/calculators/pfc">Pfc calculator</a></li>
        <li><a href="/calculators/pulse">Pulse calculator</a></li>
        <li><a href="/calculators/water">Water calculator</a></li>
    </ul>
    <img src="http://localhost:3000/istockphoto-586715640-170667a.jpg">
</div>
</nav> -->