<form class="belly__form _form">
  <h2 class="form__title">Pulse calculator</h2>
  <div class="form__block">
    <input type="text" class="form__input">
  </div>
  <button type="submit" class="form__btn">Calculate</button>
  <p class="form__comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <p class="form__comment">Lorem ipsum dolor</p>

</form>

<!-- <div class="form-item">
    <h3>Pulse calculator</h3>
    <input type="text" name="title" >
    <button class="btn" type="submit">calculate</button>
    <p>Some result</p>
    <p>Some Text</p>
  </div> -->